.body{
    background-color: black;
}
.main{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    align-items: center;
}
.poembox
.imagebox{
    flex:1;
}
.poembox{
    min-width: 500px
}
.poem{
    color: rgb(245, 220, 245);
    font-family: dancing script;
    font-size: 30px;
    
}
.image{
    height: 500px;
}
.textbox{
    min-width:825px;
    text-align: center;
}
.heading{
    font-family: dancing script;
    color: rgb(229, 107, 164);
    font-size: 50px;
    
}
.nos{
    display: none;
    position: absolute;
    overflow-y:scroll;
    max-height: 150px;
    left:0px;
    
}

.show{

    display: flex;
    flex-direction: column;
}

.digbox{
    width:80px;
    min-height: 30px;
    border-color: rgba(255, 255, 255, 0.792);
    
}
.digbox:hover{
    cursor: pointer;
    background-color: rgb(170, 210, 202);

}
.buttons{
    display: flex;
    flex-direction: row;
    min-width:max-content;
    justify-content: center;

}
.box{
    width:100px;
    margin-left: 10px;
    margin-bottom: 0px;;
    margin-right: 0px;
    position: relative;
    display: inline-block;

}
.bbox{
    width:100px;
    height:100px;
    background-color: rgb(155, 203, 153);
    border-style:solid;
    border-radius:10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    border-color: rgb(69, 131, 28);

}
.bbox:hover{
    cursor:pointer;
    background-color: rgb(161, 224, 156);
}
.colonbox{
    height:100px;
    width:30px;
    margin-left: 10px;
}
.colon{
    font-size:100px;
    
}
.headingbox{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    background-color: rgb(141, 185, 188);
    height: 125px;
    align-items: center;
}
.headingtext{
    flex:1;
    font-family: Merriweather;
    font-size: 100px;
    text-align: center;
    min-width: 750px;
 
}
.sandclock{
    width:0px;
    display: flex;
    justify-content: end;
 
}
.startstop,.restart{
    margin-top: 50px;
    height:75px;
    width:75px;
    background-color: rgb(223, 182, 128);
    border-radius: 50px;
    border-style: none;
    font-family:Gupter;
    font-size: 20px;
}

.restart{
    width: 100px;
}
.startstop:hover,.restart:hover{
    background-color:antiquewhite;
    border-style: solid;
    border-color: rgb(223, 182, 128);
    cursor:pointer;
    
}
.timerbox{
    display: flex;
    max-width: 500px;
    margin-inline: auto;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: rgb(225, 174, 174);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: rgb(194, 78, 76);
    border-style: solid;
    min-width: 750px;
}
.operations{
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 750px;
}
.dig,.num,.timer{
    font-family:Gupter;

}
.num{
    font-size: 60px;
}
.dig{
    font-size: 20px;
}
.timer{
    font-size: 100px;
}
.sand{
    height:100px;


}
