.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
 

}
.body,.body1{
    background-color: black;
}
.content{
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.stopwatch,.timer{
    
    background-color: rgb(182, 245, 240);
    text-align: center;
    height: 50px;
    width:200px;

    align-items: center;
    justify-content: center;
    align-content: center;

}

.text_clock{

    padding-left: 10px;
    text-align: center;
    font-size: 50px;
    font-family:Rubik;
    font-weight: bold;
    align-self: center;
    align-content: center;
    
}
.clockBox{
    margin-top: 10px;
  
    height: 100px; 
    background-color:rgb(5, 153, 52);
   
    border-style:solid;
    border-bottom: 0;
    border-top: 0;
    align-self: center;
    text-align: center;
    align-content: center;
    
    
    
}

.text_Stopwatch,.text_Timer{
    align-self: center;
    background-color: rgb(153, 219, 128);
    border-radius:0;
    text-align: center;
    width:200px;
    height:50px;
    font-size: 30px;
    font-family: Bitter;
    color:rgb(0, 0, 0);

}
.text_Timer{
    background-color: rgb(221, 236, 181);

}
.text_Stopwatch:hover,
.text_Timer:hover{
    cursor:pointer;
    background-color: rgb(235, 193, 193);}
.fairytale{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.clickme{
    background-color: black;
    border-style: none;
}
.clickme:hover{
    cursor:pointer;
}
.content_stopwatch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    min-width: 1000px;
}
.buttons{
    width:160px;
    display:flex;
    flex-direction: column;
    border: 2px;
    border-style:solid;
    align-items: center;
    justify-items: center;
    border-bottom: none;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: rgb(164, 161, 161);
    
}
.timeBox{
   
    background-color: rgb(177, 221, 196);

    margin-left: 10px;
    align-self: center;
    border-radius: 10px;
    
    width: 300px;
    
}
.startstop,.restart{
    margin-top: 10px;
   
    background-color: rgb(148, 221, 213);
    height: 120px;
    width:120px;
    display: inline;
    border-style:double;
    border-radius: 20px;
    border-color:  rgb(47, 168, 162);
    font-family: Roboto;
    text-align: center;
    font-weight:bold;
    
}
.startstop{

 
    font-size: 40px;
}
.restart{
    font-size:20px;
}
.startstop:hover,.restart:hover{
    cursor:pointer;
    background-color: rgb(206, 239, 235);

}

.stopwatchTime{
    font-size: 50px;
    font-family: Merriweather;
  
}
.picBox{
    display:flex;
    flex-direction: row;
    background-color: rgb(210, 165, 239);
    align-items: center;
    justify-content: center;
    min-width: 900px;

}
.heading{
    flex:1;
    text-align: center;
    
}


.pic{
    height:150px;
  
}
.text_heading{
    font-size: 60px;
    font-family:Anton;
    
}
